<a href="https://colab.research.google.com/github/crodriguezn/python-2025/blob/master/U1_Tema_2_Variables%2C_Tipos_de_datos_y_Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

En Python, una variable es un contenedor para almacenar datos. No es necesario declarar su tipo explícitamente.

In [ ]:
# Declaración de variables
numero = 10           # Entero (int)
pi = 3.1416           # Flotante (float)
nombre = "Ana"        # Cadena de texto (str)
es_estudiante = True  # Booleano (bool)

# Mostrar valores y tipos
print("Número:", numero, "Tipo:", type(numero))
print("Pi:", pi, "Tipo:", type(pi))
print("Nombre:", nombre, "Tipo:", type(nombre))
print("Es estudiante:", es_estudiante, "Tipo:", type(es_estudiante))

Número: 10 Tipo: <class 'int'>
Pi: 3.1416 Tipo: <class 'float'>
Nombre: Ana Tipo: <class 'str'>
Es estudiante: True Tipo: <class 'bool'>

# **Tipos de Datos**

Tipos Numéricos

In [ ]:
entero = 25        # int
decimal = 3.75     # float
complejo = 2 + 3j  # complex

print(type(entero))   # <class 'int'>
print(type(decimal))  # <class 'float'>
print(type(complejo)) # <class 'complex'>

<class 'int'>
<class 'float'>
<class 'complex'>

Cadenas de Texto (String)

In [ ]:
mensaje = "Hola, Python!"
print(mensaje)             # Hola, Python!
print(mensaje.upper())     # HOLA, PYTHON!
print(mensaje.lower())     # hola, python!
print(mensaje[0:4])        # Hola

Hola, Python!
HOLA, PYTHON!
hola, python!
Hola

Booleanos

In [ ]:
es_mayor = 5 > 3  # True
es_menor = 2 > 8  # False

print(es_mayor)  # True
print(es_menor)  # False

True
False

Listas (List)

In [ ]:
frutas = ["Manzana", "Banana", "Cereza"]
print(frutas[0])  # Manzana
frutas.append("Mango")
print(frutas)  # ['Manzana', 'Banana', 'Cereza', 'Mango']

Manzana
['Manzana', 'Banana', 'Cereza', 'Mango']

Tuplas (Tuple)

In [ ]:
coordenadas = (4, 5)
print(coordenadas[0])  # 4

4

Diccionarios (Dict)

In [ ]:
persona = {"nombre": "Carlos", "edad": 25, "ciudad": "Quito"}
print(persona["nombre"])  # Carlos

Carlos

# **Operadores en Python**

Operadores Aritméticos

In [ ]:
a = 10
b = 3

print(a + b)  # Suma -> 13
print(a - b)  # Resta -> 7
print(a * b)  # Multiplicación -> 30
print(a / b)  # División -> 3.3333
print(a // b) # División entera -> 3
print(a % b)  # Módulo -> 1
print(a ** b) # Potencia -> 1000

13
7
30
3.3333333333333335
3
1
1000

Operadores Relacionales (Comparación)

In [ ]:
x = 5
y = 10

print(x > y)   # False
print(x < y)   # True
print(x == y)  # False
print(x != y)  # True

False
True
False
True

Operadores Lógicos

In [ ]:
edad = 20
es_adulto = edad >= 18

print(es_adulto and True)  # True
print(es_adulto or False)  # True
print(not es_adulto)       # False

True
True
False

# Estructuras de datos mutables
Son aquellas que pueden modificarse después de su creación sin cambiar su identidad en memoria. Algunos ejemplos son:

**Listas (list)**

In [ ]:
lista = [1, 2, 3]
print("original: ", lista)  # [1, 2, 3]
lista.append(4)  # Modifica la lista original
print("mutado: ", lista)  # [1, 2, 3, 4]

original:  [1, 2, 3]
mutado:  [1, 2, 3, 4]

Diccionarios (dict)

In [ ]:
diccionario = {"a": 1, "b": 2}
print("original: ", diccionario)  # {'a': 1, 'b': 2}
diccionario["c"] = 3  # Modifica el diccionario original
print("mutado: ", diccionario)  # {'a': 1, 'b': 2, 'c': 3}

original:  {'a': 1, 'b': 2}
mutado:  {'a': 1, 'b': 2, 'c': 3}

# Estructuras de datos inmutables
No pueden ser modificadas después de su creación. Si se desea cambiar su contenido, se debe crear una nueva instancia. Ejemplos:

**Tuplas (tuple)**

In [ ]:
tupla = (1, 2, 3)
tupla[0] = 4  # ❌ Esto generará un error

TypeError: 'tuple' object does not support item assignment

**Cadenas de texto (str)**

In [ ]:
cadena = "Hola"
cadena[0] = "h"  # ❌ Esto generará un error

TypeError: 'str' object does not support item assignment

**Números (int, float, complex)**

In [ ]:
x = 10
x += 1  # Se crea una nueva variable en memoria en lugar de modificar la original

En resumen, ***listas, diccionarios, conjuntos y objetos personalizados pueden modificarse (mutables)***, mientras que ***tuplas, cadenas, números y conjuntos inmutables no pueden modificarse (inmutables)***.